SyntaxError: unexpected EOF while parsing (<ipython-input-19-a848285a8530>, line 16)

In [58]:
import pandas as pd
import os

data=pd.read_excel('daten_.xlsx')

data.head()

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,...,last_edit_date_1,last_editor_display_name_1,last_editor_user_id_1,owner_display_name_1,owner_user_id_1,parent_id_1,post_type_id_1,score_1,tags_1,view_count_1
0,37992108,My html form won't POST to mysql,<p>Hello i have a problem where my data isn't ...,37994134,1,16,NaN,2016-06-23 12:47:34.017 UTC,0.0,2016-06-23 14:11:39.8 UTC,...,NaN,NaN,NaN,NaN,6498280.0,37992108,2,0,NaN,NaN
1,38039505,Counting number of characters in a WCHAR string,<p>Lua has a function named <code>utf8.len()</...,38083489,1,25,NaN,2016-06-26 14:29:23.597 UTC,NaN,2016-06-28 18:15:46.893 UTC,...,NaN,NaN,NaN,NaN,3408572.0,38039505,2,1,NaN,NaN
2,30864424,How to get the appropriate ComboBox Tag,<p>I'm trying to get the Tag associated to a v...,30865517,2,10,NaN,2015-06-16 10:01:14.49 UTC,0.0,2015-06-18 19:15:43.763 UTC,...,2015-06-16 12:25:59.613 UTC,NaN,4984854.0,NaN,4984854.0,30864424,2,1,NaN,NaN
3,31033371,Angular loop is not updating,<p>Just started out with angular. I was succes...,31034475,2,13,NaN,2015-06-24 17:40:05.553 UTC,NaN,2015-06-24 20:04:45.793 UTC,...,NaN,NaN,NaN,NaN,2435473.0,31033371,2,1,NaN,NaN
4,30769186,"why vector is always slower than C array, at l...",<p>I am trying to find all the primes not grea...,30769515,1,36,NaN,2015-06-10 23:43:19.39 UTC,NaN,2015-06-11 00:50:01.66 UTC,...,2015-06-11 00:50:01.66 UTC,NaN,257645.0,NaN,257645.0,30769186,2,7,NaN,NaN

_io.TextIOWrapper